.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18rem;
    border: 2px solid white;
    border-radius: 8px;
    background-color: rgba(92, 10, 48, 0.6) ;
    color: rgb(247, 240, 243);
}
.checked{
    opacity: .6;
    transform: scale(.97);
    color: rgb(196, 196, 196);
}
