.task{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18rem;
    border: 2px solid white;
    border-radius: 8px;
    background-color: rgba(88, 8, 45, 0.6) ;
    color: rgb(245, 243, 244);
}
.checked{
    opacity: .6;
    transform: scale(.97);
    color: rgb(196, 196, 196);
}
